body {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;

  background-color: white;

  
}

.centered-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}